<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Zahra's Profile</title>
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    

    <!-- My CSS-->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
        <div class= "container"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml">
                <a class="nav-link" href="{% url 'story3:profile'%}#Home">Home</a>
                <a class="nav-link" href="{% url 'story3:profile'%}#skill">skill</a>
                <a class="nav-link" href="{% url 'story3:profile'%}#experience">experience</a>
                <a class="nav-link active" href="{% url 'story3:profile'%}#headline">contact</a>
                
            </div>
            </div>
        </div>
        </nav>
        {% block content %} {% endblock %}
    </body>
</html>