{% extends 'navbar.html'%} 
{% load static %} {% block content %}

    <!-- Akhir navbar -->
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid" id ="Home">
      <div class="container">
        <h1 class="display-4">Hello!</h1>
        <br>
        <h2>I'm Zahra Nabila</h2>
        <p class="lead">Student University of Indonesia</p>
        <br>
        <button type="button" class="btn btn-secondary"  onclick="location.href='#about'">About Me</button>
      </div>
    </div>

    <div class="jumbotron1 jumbotron-fluid" id ="about">
      <div class="slide2"></div>
        <h1 class="text-center">ABOUT ME</h1>
        <br>
        <p class="text-center">I'm a happy person and like everthing related to mystery.</p>
        <p class="text-center">I'd like to see movie to spend my time and i really enjoy.</p>
        <p class="text-center">my favorite movie in the world.</p>
        <center><a id="nav" href="{% url 'story3:halamanbaru' %}">Go check</a></center>
      </div>
    </div>

    <div class="jumbotron2 jumbotron-fluid" id="experience">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="card-img">
            </div>     
          </div>
          <div class="col-6">
            <div class="card-img">
              <h1 style="text-align: center;">EXPERIENCE</h1>
              <br>
              <img class="card-img rounded" src="{% static 'Gambar2.png' %}" alt="Sheep 9">
              <div class="card-img-overlay text-white d-flex justify-content-center align-items-end">
                <p style=" text-align :center ; padding-bottom: 80px; padding-left: 20px; padding-right: 20px;">Staff Media partner of COMPFEST12 , Staff Event of BETIS 2020 , Manager of Shopee</p>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron3 jumbotron-fluid" id = "skill">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="card-img">
                <h1 style ="text-align: center;">SKILL</h1>
                <br>
                <img class="card-img rounded" src="{% static 'Gambar1.png' %}"  alt="Sheep 9">
                <div class="card-img-overlay text-white d-flex justify-content-center align-items-end">
                  <p style="text-align:center; padding-bottom: 80px;">Communication - Computer skill - Management skills. </p>
                </div>
            </div>     
          </div>
          <div class="col-6">
          </div>
        </div>
      </div>
    </div>

    <div id = "headline">
      <h3 style="text-align: center;">Connect with me more on:</h3>
      <a href="https://www.instagram.com/zahrajaraaa/" target="_blank" title="Follow Me">
      <center><img border="0" src='https://1.bp.blogspot.com/-YgjDI7ryeCw/WBK0256tXeI/AAAAAAAAGwI/ENH2OyP7KUgQ9Q8Mix15YH8T_easIwguQCLcB/s1600/instagram.png' style="border: medium none; position: relative;" / /></center>
    </div>
  

    <!-- akhir jumbrotron -->
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% endblock %}